[user]
	name = Brady Herbert
[include]
	path = ~/.dotfiles/git/private/.gitconfig-personal
[alias]
	co = checkout
	cleanup = "!git branch | grep -ve master$ -ve develop$ | xargs git branch -D && git remote prune origin"
	unstage = reset HEAD --
	revision = rev-list --count master
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
  defaultBranch = main
[core]
  editor = nvim