weather() {
    curl -s "https://wttr.in/${1:-Louisville}?format=v2"
}

ip-public() {
    curl ipecho.net/plain; echo
}

ip-private() {
    ifconfig -l | xargs -n1 ipconfig getifaddr
    return zsh
}

batdiff() {
    git diff --name-only --relative --diff-filter=d | xargs bat --diff
}

# "fd": find directory
# Find and cd into the selected directory using fzf, only showing the first and second
# level sub-directories and not showing the directories within those.
# Excludes .git directories.
fd() {
    DIR=$(
          find ~/Workspace ~/Developer \
               -maxdepth 3 \
               -name ".git" -prune -o \
               -type d -print 2> /dev/null | fzf
         ) \
    && cd "$DIR"
}

# "gb" - git branch [checkout]
# List git branches with fzf, and automatically checkout
gb() {
  local branches branch
  branches=$(git --no-pager branch -vv) &&
  branch=$(echo "$branches" | fzf +m) &&
  git checkout $(echo "$branch" | awk '{print $1}' | sed "s/.* //")
}

so() {
    source ~/.zshrc
}
