# Weather
weather() {
    curl -s "https://wttr.in/${1:-Louisville}?format=v2"
}

# IP addresses
ip-public() {
    curl ipecho.net/plain; echo
}

ip-private() {
    ifconfig -l | xargs -n1 ipconfig getifaddr
    return zsh
}
